# IDE
.idea/
.vscode/

# Go
/build/bin/
*.test
*.out

# Node / frontend
node_modules/
frontend/dist/
frontend/wailsjs/

# Local environment & data
.env
*.db
*.db-journal
*.db-wal
*.db-shm
*.chrono

# OS
.DS_Store
